/* public style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}


ul {
    list-style-type: none;
}


:root {
    --primary:#0080805d;
}
/*end public style*/


/* .container {
    width: 100%;
    padding: 0 50px;
    max-width: 1400px;
    margin: 0 auto;
}


.header {
    background-color: var(--primary);
    padding: 15px 0;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header ul {
    display: flex;
    gap: 15px;
}


.header .logo a {
    color: #ba0000;
}


.contact {
    background-color: rgb(173, 167, 167);
}


.header input {
    border: 0px;
    padding-left: 5px;
}


.header button {
    border: 0px;
    padding: 10px 5px;
}


.header form {
    border: 3px solid #636363;
    display: flex;
}




 */



 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primaryColor:#0D0E43;
}


a {
    text-decoration: none;
}


ul {
    list-style-type: none;
}


.header2 {
    background-color: white;
    padding: 0px 0px;
    margin-top: 45px;
}


.header2 .container2 {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
    height: 40px;
    width: 1200px;
}


.header2 ul {
    display: flex;
    gap: 35px;
}


.header2 ul li a {
    color: var(--primaryColor);
}


.header2 ul li a.link_home {
    color: #FB2E86;
}


.header2 form {
    display: flex;
    border: 0.2px solid #E7E6EF;
}


.header2 form input {
    border: 0px;
    padding-left: 10px;
}


.header2 form button {
    border: 0px;
    padding: 0px 0px;
    background-color: #FB2E86;
}